$color-primary: red;
$color-gradient-blue : linear-gradient(90deg, #007FEF 0%, #00DED8 100%);

$theme-colors: map-merge(
    (
      "primary":    $color-primary,
    //   "secondary":  $color-secondary,
    //   "success":    $color-success,
    //   "info":       $color-info,
    //   "warning":    $color-warning,
    //   "danger":     $color-danger,
    //   "light":      $color-light,
    //   "dark":       $color-dark
    ),
    $theme-colors
  );

$color-default: #222222;