// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,800;1,300;1,500&display=swap');

// @font-face {
//     font-family: NerkoOne-Regular;
//     font-style: normal;
//     font-weight: 400;
//     src: local("Alice"), local("Alice-Regular"),
//          url("../../font/NerkoOne-Regular.eot?#") format("eot"),
//          url("../../font/NerkoOne-Regular.woff2") format("woff2"),
//          url("../../font/NerkoOne-Regular.woff") format("woff"),
//          url("../../font/NerkoOne-Regular.ttf") format("truetype")
// }
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    background: linear-gradient(90deg, #007FEF 0%, #00DED8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

h4 {
    color: $color-default;
}

.link {
    color: $color-default;

    &:hover {
        background: linear-gradient(90deg, #007FEF 0%, #00DED8 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/* Works on Firefox */
// * {
//     scrollbar-width: thin;
//     scrollbar-color: blue orange;
// }

/* Works on Chrome, Edge, and Safari */
// *::-webkit-scrollbar {
//     width: 12px;
// }

// *::-webkit-scrollbar-track {
//     background: orange;
// }

// *::-webkit-scrollbar-thumb {
//     background-color: blue;
//     border-radius: 20px;
//     border: 3px solid orange;
// }