@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,800;1,300;1,500&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 100px !important;
    font-weight: 500;
}

h2{
    font-weight: 100px !important;
    font-weight: 800;
}